.aavegotchisCard {
	border-bottom: 2px dashed transparent;
	border-top: 2px dashed transparent;

	transition: all 200ms ease-in;
}

.aavegotchisCard:hover,
.active {
	border-bottom-color: black;
	border-top-color: black;
}

.active {
	background: hsl(171deg 100% 41%) !important;
}

.aavegotchisCard:hover {
	background: hsl(105deg 87% 81%);
	/* box-shadow: inset 0 0 0px 3px #4c4b4b; */
	cursor: pointer;
}
