.aavegotchisList {
	height: 100vh;
	overflow: auto;

	--scrollbar-track-color: white;
	--scrollbar-thumb-color: hsl(53deg 67% 58%);
}

.aavegotchisList::-webkit-scrollbar {
	width: 0.5em;
}

.aavegotchisList::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
	background: var(--scrollbar-track-color);
}

.aavegotchisList::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	outline: 1px solid var(--scrollbar-thumb-color);
}
